<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex><label>Service Title</label> <input ng-model="item.title"
                                                                          placeholder="Placeholder text">
                </md-input-container>
            </div>
            <trix-editor angular-trix ng-model="item.description" class="trix-content"></trix-editor>
        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="cancelAdd()"> Cancel</md-button>
        <md-button ng-click="saveNew()" class="md-primary"> Save</md-button>
    </div>
</md-dialog>