
<div id="login" class="top paddingTop black-white">
    <!--<img class="logo-large" src="img/logo_large.png"/>-->
    <div class="col-md-2 col-md-offset-5">
        <div class="login-container form-group">
            <input type="email" id="loginEmail" ng-model="data.email" placeholder="Email address">
            <div class="space50" ></div>
            <input type="password" id="loginPasswd" ng-model="data.password"  placeholder="Password" >
            <div class="space100"></div>
            <button id="loginButton" ng-click="login()">SIGN IN</button>
            <div class="space100"></div>
        </div>
    </div>
</div>